
<div *ngIf="!editingStage">
  <div *ngIf="!creatingStage">
    <div *ngIf="!updatingProcess">
    <h2 >
      Process:
      <input [(ngModel)]="process.name" placeholder="Process Name">
    </h2>
      <button type="button" class="btn btn-secondary" (click)="onCloseClick()">Close</button>
      <button type="button" class="btn btn-success" (click)="onSaveProcess()">Save Process</button>
      <button type="button" class="btn btn-success" (click)="onAddClick()">Add Stage</button>
    </div>
    <div *ngIf="updatingProcess">
      <button type="button" class="btn btn-secondary" (click)="onCloseUpdatedClick()">Close</button>
      <button type="button" class="btn btn-success" (click)="onSaveProcessUpdated()">Save Process</button>
    </div>

    <div>
      <div *ngFor="let stage of process.stages; let i = index">
        <app-stage [stage]= stage></app-stage>
        <button type="button" class="btn btn-primary" (click)="onEditClick(i)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="onSubtractStage(i)"> - </button>
        <span *ngIf="process.stages[i-1]">
          <button type="button" class="btn btn-secondary" (click)="onUpClick(i)"> < </button>
        </span>
        <span *ngIf="process.stages[i+1]">
          <button type="button" class="btn btn-secondary" (click)="onDownClick(i)"> > </button>
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="creatingStage">
    <h2>
      Process: {{process.name}}
    </h2>
    <div>
      <app-create-stage></app-create-stage>
    </div>
  </div>
</div>

<div *ngIf="editingStage">
  <h2>
    Process: {{process.name}}
  </h2>
  <div>
    <app-edit-creating-stage></app-edit-creating-stage>
  </div>
</div>
