/*.cards {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  !*max-width: 1000px;*!*/
/*  grid-gap: 20px;*/
/*  align-items: start;*/
/*  padding: 15px;*/
/*}*/
article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 400px;
}
.text {
  padding: 0 20px 20px;
  text-align: center;
}

