
<div id="processes" *ngIf="!updatingProcess">
  <button type="button" class="btn btn-secondary" (click)="onBackClick()">Back</button>
  <button type="button" class="btn btn-warning" (click)="onUpdateClick()">Update</button>
  <button type="button" class="btn btn-danger" *ngIf="!confirm" (click)="onDeleteClick()">Delete</button>
  <div *ngIf="confirm">
    Are you sure?
    <button type="button" class="btn btn-primary"(click)="onDeleteClick()"> No </button>
    <button type="button" class="btn btn-danger" (click)="onConfirmClick()"> Yes </button>
  </div>
  <h1>
    {{process.name}}
  </h1>
  <span id="scroll-Btn">
    <button *ngIf="canGoDown" type="button" class="btn btn-secondary" (click)="onPreviousClick()">Previous</button>
    <button *ngIf="!canGoDown" type="button" class="btn btn-secondary" (click)="onPreviousClick()" disabled>Previous</button>
    <button *ngIf="canGoUp" type="button" class="btn btn-secondary" (click)="onNextClick()">Next</button>
    <button *ngIf="!canGoUp" type="button" class="btn btn-secondary" (click)="onNextClick()" disabled>Next</button>
  </span>
  <h5 id="stagePoint">
    {{stagePoint}}/{{process.stages.length}}
  </h5>
  <div id="stages">
<!--    <button (click)="onthis()">Hello</button>-->
    <app-stage
               [stage] = stage
    >
    </app-stage>
  </div>

</div>


<div *ngIf="updatingProcess">
  <app-create-process></app-create-process>
</div>
