<!--<div>-->
<!--  {{finishedStage.question}}-->
<!--</div>-->
<!--<div *ngIf="finishedStage.stage_type === 'TEXT_ANSWER'">-->
<!--  <div *ngFor="let response of finishedStage.choiceText; let i = index">-->
<!--    {{response.choice}}:<input type="text" [ngModel]="response.response" disabled>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="form-check" *ngIf="finishedStage.stage_type === 'MULTIPLE_CHOICE'">-->
<!--  <div *ngFor="let response of finishedStage.choiceText; let i = index">-->
<!--    <input *ngIf="response.response !== '' " class="form-check-input" type="radio" name="flexRadioDefault" id="{{response.choice}} + {{i}}" checked disabled>-->
<!--    <input *ngIf="response.response === '' " class="form-check-input" type="radio" name="flexRadioDefault" id="{{response.choice}} + {{i}}" disabled>-->
<!--    <label class="form-check-label" for="{{response.choice}} + {{i}}">-->
<!--      {{response.choice}}-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="form-check" *ngIf="finishedStage.stage_type === 'MULTIPLE_CHECKBOX'">-->
<!--  <div *ngFor="let response of finishedStage.choiceText; let i = index">-->
<!--    <input *ngIf="response.response !== '' " class="form-check-input" type="checkbox" value="" id="{{response.choice}} + {{i}}" checked disabled>-->
<!--    <input *ngIf="response.response === '' " class="form-check-input" type="checkbox" value="" id="{{response.choice}} + {{i}}" disabled>-->
<!--    <label class="form-check-label" for="{{response.choice}} + {{i}}">-->
<!--      {{response.choice}}-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->

<div class="grid" *ngIf="finishedStage.stage_type === 'TEXT_ANSWER'" >
  <article>
        <span class="row-cols-3">
              <p class="fw-bold">{{finishedStage.question}}</p>
              <span *ngFor="let response of finishedStage.choiceText; let i = index">
                <span class="input-group mb-3 center-block" >
                  <div class="input-group-prepend">
                    <div class="input-group-text" id="{{response.choice}}+{{i}}">{{response.choice}}</div>
                  </div>
                  <input type="text" class="form-control" size="100" [attr.aria-describedby]="'response.choice'+ 'i'" [ngModel]="response.response" disabled>
                </span>
              </span>
        </span>
  </article>
</div>

<div class="grid" *ngIf="finishedStage.stage_type === 'MULTIPLE_CHOICE'">
  <article>
    <div class="form-check" >
      <div class="row col-5">
        <p class="fw-bold">{{finishedStage.question}}</p>
        <div class="form-check mb-2">
          <div *ngFor="let response of finishedStage.choiceText; let i = index">
            <input *ngIf="response.response !== '' " class="form-check-input" type="radio" name="flexRadioDefault" id="{{response.choice}} + {{i}}" checked disabled>
            <input *ngIf="response.response === '' " class="form-check-input" type="radio" name="flexRadioDefault" id="{{response.choice}} + {{i}}" disabled>
            <label class="form-check-label" for="{{response.choice}} + {{i}}">
              {{response.choice}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>

<div class="grid" *ngIf="finishedStage.stage_type === 'MULTIPLE_CHECKBOX'">
  <article >
    <div class="form-check" >
      <div class="row col-5">
        <p class="fw-bold">{{finishedStage.question}}</p>
        <div *ngFor="let response of finishedStage.choiceText; let i = index">
          <input *ngIf="response.response !== '' " class="form-check-input" type="checkbox" value="" id="{{response.choice}} + {{i}}" checked disabled>
          <input *ngIf="response.response === '' " class="form-check-input" type="checkbox" value="" id="{{response.choice}} + {{i}}" disabled>
          <label class="form-check-label" for="{{response.choice}} + {{i}}">
            {{response.choice}}
          </label>
        </div>
      </div>
    </div>
  </article>
</div>

